---
layout: archive
---

<form action="https://formspree.io/chux,orefo@gmail.com"
      method="POST">
    <p>Name: <input type="text" name="name"><br/>
    <p>Email: <input type="email" name="_replyto"><br/>
    <input type="text" name="_replyto" placeholder="Your email"/><br>
    <p>Message: <textarea name="message"></textarea><br/>
    <input type="hidden" name="_subject" value="New submission!" /><br/>
    <input type="submit" value="Send">
    <input type="hidden" name="_next" value="https://blackboxlabs.github.io/sent/" />
</form>
