---
layout: archive
header:
  image: "/images/banner.jpg"
---
<body>
  <p>Shoot me an email stating the nature of your business interests and or simle detials regading what projects you would like advise on and I'll get back to you</p>
</body>
<form action="https://formspree.io/chux.orefo@gmail.com"
      method="POST">
    <p>Name: <input type="text" name="name"><br/>
    <p>Email: <input type="text" name="_replyto" placeholder="Your email"/><br>
    <p>Message: <textarea name="message"></textarea><br/>
    <input type="hidden" name="_subject" value="New submission!" /><br/>
    <input type="submit" value="Send">
    <input type="hidden" name="_next" value="https://blackboxlabs.github.io/sent/" />
</form>
